<!DOCTYPE html>

<html>
<head>
    <title>Database Access - Index</title>
</head>
<body>
    <h2>Categories (from Database)</h2>
    @foreach (string cat in ViewBag.Cats)
    {
        @cat <br />
    }
</body>
</html>
